* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body { 
    height: 100vh;
    width: 100vw;
}  

#container {
    height: 80%;
    width: 100vw;
    background-color: skyblue;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(24, 1fr);

}

.block {
    width: 100%;
    height:100%;
    font-size: 3px;
    text-align: center;
    
}

.grase {
    background: url(image/soil.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sky {
    background-color: skyblue;
    width: 100%;
    height: 100%
}


.tree {
    background: url(image/tree-leaves-s.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.stone {
    background: url(image/rock.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tree-trunk {
    background: url(image/tree.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.grass{
    background : url('image/grass-s.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#footer {
    background-color:rgb(18, 32, 32);
    width: 100vw;
    height: 20vh;
    display: flex;
    gap: 4px;
}
.icon {
    width: 5vw;
    height:7vh;
}

.bg-icon {
    height: 7vh;
    width: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgrey;
    border-radius: 10%;
}

img.icon-box {
    height: 1.8em;
    margin-right: 10%;
}

.icons {
    display:flex;
    width: 33%;
    align-items: center;
    justify-content: center;
    gap: 4px;

}

.text-start {
    width: 33%;
    background-color: rgb(18, 32, 32);
    display: flex;
    justify-content: right;
    align-items: center;
}

.reset-game {
    width: 33%;
    background-color: blue;
}

.contai-text  {
    background-color:darkgrey;
    height: 30%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:4px ;
    margin-right: 10px;
    position: relative;
    right: 10%;
}

.contai-text  p {
font-size: 1.3em;
color:white;


}

.reset-game {
    background-color: rgb(18, 32, 32);
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10%;
    text-decoration: none;
    

}

p.reset-text {
    color: white;
    font-size: 2.6em;
    position: relative;
    bottom:37% ;
    
}

.div-reset {
    background-color:darkgrey;
    width: 50%;
    height: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    border: dimgrey solid 1px;
}

.div-reset:hover {
    background-color: aqua;
}

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    background-color: #333;
    width: 70%;
    height: 100px;
    padding: 2px;
    border: 2px inset #555;
    /* overflow-y: auto; */
    padding-bottom: 4px;
    position: relative;
    right: 7%;
}

.inventory-item {
    width:20%;
    height: 50%;
    border: 1px solid white;
    position: relative;
    cursor: pointer;
    background-size: cover;
    
}

.inventory-item span {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    color: white;
    font-size: 100%;
    padding: 1px;
}


.inventory-item:active {
    outline: 2px solid yellow;
}

img.icon-box {
    position: relative;
    bottom:3px ;
    height: 100%;
}